<div class="wrapper">
  <div class="container">
    <div class="dialogue">
      <p class="question"><%= @question %></p>
      <p class="answer"><%= @answer %></p>
      <%= link_to "Go back to 'ask'", ask_path %>
    </div>
  </div>
</div>





