<div class="wrapper">
  <div class="container">
    <form action="/answer" method="get">
      <input type="text" name="question" placeholder="Input question here..." class="formInput">
    </form>
  </div>
</div>

